@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary-accent: #00c4cc;
  --color-secondary-accent: #ff7f66;
  --color-dark-bg: #2c3e50;
  --color-main-bg: #f5f7fa;
  --color-accent: #ffc300;
  --color-accent-content: #000000;
  --color-neutral: #2c3e50;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #cce0e9;
  max-width: 1200px;
  margin: 25px auto;
  padding: 1.5rem;
  border-radius: 20px;
}
