@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2d447a;
  --color-primary-accent: #2c3e50;
  --color-secondary: #1fe6d9;
  --color-accent: #ffc300;
  --color-accent-content: #000000;
  --color-neutral: #e79c4e;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  /* background: rgba(0, 0, 0, 0.05); */
  max-width: 1200px;
  margin: 25px auto;
  padding: 1.5rem;
  border-radius: 20px;
  /* border: 1px solid red; */
}

.btn-gradient {
  background: linear-gradient(90deg, #1fe6d9, #f0925f);
}
.line {
  width: 130px;
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(90deg, #1fe6d9, #a3bfc8);
}

button {
  box-shadow: none;
  border: none;
}
